{% extends 'admin/base.html.twig' %}

{% block title %}Ajouter un produit{% endblock %}
{% form_theme form _self %}

{% block body %}
<div class="page-header">
	<h4 class="page-title">Ajouter un produit</h4>
	<ul class="breadcrumbs">
		<li class="nav-home">
			<a href="{{ path('dashboard') }}">
				<i class="flaticon-home"></i>
			</a>
		</li>
		<li class="separator">
			<i class="flaticon-right-arrow"></i>
		</li>
		<li class="nav-item">
			<a href="{{ path('products_index')}}">Produits</a>
		</li>
		<li class="separator">
			<i class="flaticon-right-arrow"></i>
		</li>
		<li class="nav-item">
			<a href="#">Ajouter un produit</a>
		</li>
	</ul>
</div>
<div class="row">
	<div class="col-md-2">
		<div class="card">
			<aside>
				<div class="list-group">
						<a href="#" class="list-group-item active">Informations</a>
						<a href="#" class="list-group-item disabled" title="Vous devez enregistrer d'abord enregistrer le produit" style="cursor: not-allowed">Images</a>
						<a href="#" class="list-group-item disabled" title="Vous devez enregistrer d'abord enregistrer le produit" style="cursor: not-allowed"><span>Promotions</span></a>
						<a href="#" class="list-group-item disabled" title="Vous devez enregistrer d'abord enregistrer le produit" style="cursor: not-allowed"><span>Gestion stocks</span></a>
						<a href="#" class="list-group-item disabled" title="Vous devez enregistrer d'abord enregistrer le produit" style="cursor: not-allowed"><span>Format numérique</span></a>
						{# <a href="#" class="list-group-item disabled" title="Vous devez enregistrer d'abord enregistrer le produit" style="cursor: not-allowed"><span>Auteurs</span></a> #}
						<a href="#" class="list-group-item disabled" title="Vous devez enregistrer d'abord enregistrer le produit" style="cursor: not-allowed"><span>Attribut</span></a>
						<a href="#" class="list-group-item disabled" title="Vous devez enregistrer d'abord enregistrer le produit" style="cursor: not-allowed"><span>Livraison</span></a>
						<a href="#" class="list-group-item disabled" title="Vous devez enregistrer d'abord enregistrer le produit" style="cursor: not-allowed"><span>Packs</span></a>
						<a href="#" class="list-group-item disabled" title="Vous devez enregistrer d'abord enregistrer le produit" style="cursor: not-allowed"><span>Fournisseurs</span></a>
					</div>
			</aside>
		</div>
	</div>
	<div class="col-md-10">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Informations générales</h4>
			</div>
			<div class="card-body">
				{{ include('admin/products/_form.html.twig') }}
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block _products_categories_entry_widget %}
	<div class="form-check p-0">
		<label class="form-check-label" {% for key, styles in attr %} {% for k, style in styles %} {{ key }}="{{ k }}:{{ style }}" {% endfor %} {% endfor %}>
			<input class="form-check-input" type="checkbox" name="{{full_name}}" id="{{id}}" value="{{value}}">
			<span class="form-check-sign">{{ label }}</span>
		</label>
	</div>
{% endblock %}
{% block _products_date_publish_date_widget %}
	<div class="input-group" style="width: 200px">{{ form_widget(form) }}
		<div class="input-group-append">
			<span class="input-group-text">
				<i class="la la-calendar-o"></i>
			</span>
		</div></div>
{% endblock %}
{% block _products_date_publish_time_widget %}
	<div class="input-group pl-2" style="width: 150px">{{ form_widget(form) }}
		<div class="input-group-append">
			<span class="input-group-text">
				<i class="la la-clock-o"></i>
			</span>
		</div></div>
{% endblock %}
{% block _products_date_available_date_widget %}
	<div class="input-group" style="width: 200px">{{ form_widget(form) }}
		<div class="input-group-append">
			<span class="input-group-text">
				<i class="la la-calendar-o"></i>
			</span>
		</div></div>
{% endblock %}
{% block _products_date_available_time_widget %}
	<div class="input-group pl-2" style="width: 150px">{{ form_widget(form) }}
		<div class="input-group-append">
			<span class="input-group-text">
				<i class="la la-clock-o"></i>
			</span>
		</div></div>
{% endblock %}
{# Mise en forme du formulaire de propriété #}
{% block _products_properties_widget %}
	{{ form_widget(form) }}
	{# <input type="hidden" id="widgets-counter" value="0">
	<div class="form-group text-center">
		<button type="button" id="add-property" class="btn btn-info add-property" data-list-selector="#products_properties">Ajouter une propriété</button>
	</div> #}
{% endblock %}
{% block _products_productsProperties_entry_row %}
	{{ form_widget(form) }}
{% endblock %}
{% block _products_productsProperties_entry_widget %}
	<div class="form-group">
		<div class="row">
			<div class="col-11 align-items-end" id="block_inputs">
				<div class="row align-items-end">
					<div class="col">
						{{ form_label(form.property) }}
						{{ form_widget(form.property) }}
					</div>
					<div class="col">
						{{ form_label(form.property_value) }}
						{{ form_widget(form.property_value) }}
					</div>
					<div class="col">
						{{ form_label(form.custom) }}
						{{ form_widget(form.custom) }}
					</div>
				</div>
			</div>
			<div class="col-1 row align-items-end">
				<button type="button" data-action="delete" data-target="#block_{{id}}" class="btn btn-danger">X</button>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<!-- Summernote -->
	<script src="{{ asset('admin/js/plugin/summernote/summernote-bs4.min.js') }}"></script>
	<!-- Bootstrap Toggle -->
	<script src="{{ asset('admin/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js') }}"></script>
	<!-- Moment JS -->
	<script src="{{ asset('admin/js/plugin/moment/moment.min.js') }}"></script>
		<!-- DateTimePicker -->
	<script src="{{ asset('admin/js/plugin/datepicker/bootstrap-datetimepicker.min.js') }}"></script>
	<script>
	(function(e) {
		var taxe = document.getElementById('products_taxe');
		var choixTaxe = taxe.selectedIndex;
		var valeur = taxe.options[choixTaxe].dataset.role;
		var ht = document.getElementById('products_selling_price');
		var ttc = document.getElementById('products_selling_price_all_taxes');
		taxe.addEventListener('change', function() {
			var newChoixTaxe = this.selectedIndex;
			valeur = this.options[newChoixTaxe].dataset.role;
			if(ht.value != '') {
				ttc.value = (ht.value * ((valeur / 100) + 1)).toFixed(2);
			}
		});
		ht.addEventListener('keyup', function() {
			if(this.value == '') {
				ttc.value = 0;
			} else {
				ttc.value = (this.value * ((valeur / 100) + 1)).toFixed(2);
			}
		});
		ttc.addEventListener('keyup', function() {
			if(this.value == '') {
			ht.value = 0;
			} else {
				ht.value = (this.value / ((valeur / 100) + 1)).toFixed(2);
			}
		});
	})();
	</script>
	<!-- Attribution de l'editor summernote sur les champs summary et description -->
	<script>
	//var div = document.getElementsByClassName('editor');
	//for(var i = 0; i<div.length; i++) {
		$('#products_summary').summernote({
			placeholder: 'Vous pouvez mettre ici une description courte du produit. Elle sera utilisée pour le référencement.',
			fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],
			tabsize: 2,
			height: 200
		});

		$('#products_description').summernote({
			placeholder: 'Description complète du produit.',
			fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],
			tabsize: 2,
			height: 300
		});
	//}
	</script>
    <script >
		//moment.locale('fr-ca'); 
		//$.datepicker.setDefaults($.datepicker.regional["fr"]);
		//jQuery.datetimepicker.setLocale('fr');
		$('#products_date_publish_time').datetimepicker({
			format: 'H:mm',
			//format: 'DD/MM/YYYY',
			locale: 'fr'
		});
		$('#products_date_available_time').datetimepicker({
			format: 'H:mm',
			//format: 'DD/MM/YYYY',
			locale: 'fr'
		});
	</script>
	<script>
		jQuery(document).ready(function () {
			const select1 = [];
		    jQuery('.add-property').click(function (e) {
		        var list = jQuery(jQuery(this).attr('data-list-selector'));
		        // Try to find the counter of the list or use the length of the list
		        var counter = list.data('widget-counter') || list.children().length;

		        // grab the prototype template
		        var newWidget = list.attr('data-prototype');
		        // replace the "__name__" used in the id and name of the prototype
		        // with a number that's unique to your emails
		        // end name attribute looks like name="contact[emails][2]"
		        newWidget = newWidget.replace(/__name__/g, counter);
		        // Increase the counter
		        counter++;
		        // And store it, the length cannot be used if deleting widgets is allowed
		        list.data('widget-counter', counter);

		        // create a new list element and add it to the list
		        var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
		        newElem.appendTo(list);
		        select1.push(counter - 1);
		        console.log(select1);

		        //Ensuite
		        var selectProperty = document.getElementById('products_productsProperties_' + (counter - 1) + '_property');
		        selectProperty
		        var selectPropertyIndex = selectProperty[0].value;
		        //var choixProperty = selectProperty.selectedIndex;
		        var selectValeurPredefinie = document.getElementById('products_productsProperties_' + (counter - 1) + '_property_value').options;
		        //var truc = selectValeurPredefinie.options;
		        //console.log(choixProperty);
		        for (var i = 0; i < selectValeurPredefinie.length; i++) {
		        	if (selectValeurPredefinie[i].value != '') {
		        		if (selectValeurPredefinie[i].dataset.role != selectPropertyIndex) {
		        			selectValeurPredefinie[i].hidden = true;
		        		}
		        	}
		        }
		        selectProperty.addEventListener('change', function() {
		        	var choixProperty = this.selectedIndex;
		        	choixPropertyValue = this[choixProperty].value;
			        for (var i = 0; i < selectValeurPredefinie.length; i++) {
			        	if (selectValeurPredefinie[i].value == '') {
			        		selectValeurPredefinie[i].selected = "selected";
			        	}
			        	
			        	if (selectValeurPredefinie[i].value != '') {
			        		if (selectValeurPredefinie[i].dataset.role == choixPropertyValue) {
			        			selectValeurPredefinie[i].hidden = false;
			        		} else {
			        			selectValeurPredefinie[i].hidden = true;
			        		}
			        	}
			        }
		        });
		    });
		});
		/*function transformers($select1, $select2) {
		    var select1 = this.selectedIndex;
		    choixPropertyValue = this[select1].value;
			for (var i = 0; i < select2.length; i++) {
				if (select2[i].value != '') {
			    	if (select2[i].dataset.role == choixPropertyValue) {
			    	select2[i].hidden = false;
			    } else {
			    	select2[i].hidden = true;
			    	}
			    }
			}
		}*/
	</script>
	{% if properties|length == 0 %}
	<script>
		var propertie = document.getElementById('add-property');
		propertie.textContent = 'Aucune propriétée créée';
		propertie.setAttribute('disabled', '');
	</script>
	<script>
		/*var properties = document.getElementById('products_properties');
		console.log(properties.length);*/
	</script>
	{% endif %}
{% endblock %}
