{% extends 'base.html.twig' %}

{% block title %}MgProducts{% endblock %}

{% block body %}
    <h1>MgProducts</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mg_product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ mg_product.name }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ mg_product.summary }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ mg_product.description }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ mg_product.slug }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ mg_product.reference }}</td>
            </tr>
            <tr>
                <th>Purshasing_price</th>
                <td>{{ mg_product.purshasingPrice }}</td>
            </tr>
            <tr>
                <th>Selling_price</th>
                <td>{{ mg_product.sellingPrice }}</td>
            </tr>
            <tr>
                <th>Selling_price_all_taxes</th>
                <td>{{ mg_product.sellingPriceAllTaxes }}</td>
            </tr>
            <tr>
                <th>Sales_unit</th>
                <td>{{ mg_product.salesUnit }}</td>
            </tr>
            <tr>
                <th>Min_quantity</th>
                <td>{{ mg_product.minQuantity }}</td>
            </tr>
            <tr>
                <th>Max_quantity</th>
                <td>{{ mg_product.maxQuantity }}</td>
            </tr>
            <tr>
                <th>Bulk_quantity</th>
                <td>{{ mg_product.bulkQuantity }}</td>
            </tr>
            <tr>
                <th>Discount</th>
                <td>{{ mg_product.discount }}</td>
            </tr>
            <tr>
                <th>Discount_type</th>
                <td>{{ mg_product.discountType }}</td>
            </tr>
            <tr>
                <th>Discount_on_taxe</th>
                <td>{{ mg_product.discountOnTaxe ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Stock_management</th>
                <td>{{ mg_product.stockManagement ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Stock_quantity</th>
                <td>{{ mg_product.stockQuantity }}</td>
            </tr>
            <tr>
                <th>Sell_out_of_stock</th>
                <td>{{ mg_product.sellOutOfStock ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Stock_alert</th>
                <td>{{ mg_product.stockAlert }}</td>
            </tr>
            <tr>
                <th>Pre_order</th>
                <td>{{ mg_product.preOrder ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Date_available</th>
                <td>{{ mg_product.dateAvailable ? mg_product.dateAvailable|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_publish</th>
                <td>{{ mg_product.datePublish ? mg_product.datePublish|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Offline</th>
                <td>{{ mg_product.offline ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ mg_product.type }}</td>
            </tr>
            <tr>
                <th>Date_creat</th>
                <td>{{ mg_product.dateCreat ? mg_product.dateCreat|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_up</th>
                <td>{{ mg_product.dateUp ? mg_product.dateUp|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Additionnal_shipping_cost</th>
                <td>{{ mg_product.additionnalShippingCost }}</td>
            </tr>
            <tr>
                <th>Width</th>
                <td>{{ mg_product.width }}</td>
            </tr>
            <tr>
                <th>Height</th>
                <td>{{ mg_product.height }}</td>
            </tr>
            <tr>
                <th>Depth</th>
                <td>{{ mg_product.depth }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ mg_product.weight }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('mg_products_index') }}">back to list</a>

    <a href="{{ path('mg_products_edit', {'id': mg_product.id}) }}">edit</a>

    {{ include('mg_products/_delete_form.html.twig') }}
{% endblock %}
