{{ form_start(form) }}
<div class="row align-items-end">
	<div class="col">{{ form_row(form.stock_quantity) }}</div>
	<div class="col-2"><div class="text-center" style="padding-bottom: 25px;"><span class="alert alert-dark">Ou</span></div></div>
	<div class="col">
		<div class="form-group">
			<label for="update_quantity">Quantité à ajouter/soustraire au stock actuel</label>
			<input type="number" name="update_quantity" class="form-control" placeholder="0">
		</div>
	</div>
</div>
<small class="text-muted" style="fmargin-left: 15px;">Votre saisie dans le champ <i>"Modifier le stock actuel"</i> ne sera pas pris en compte si vous remplissez le champ <i>"Quantité à ajouter/soustraire au stock actuel"</i>.</small>
{{ form_row(form.stock_alert) }}
<p style="font-weight: bold; margin-top: 20px; margin-left: 15px; margin-bottom: 0;">Comportement si rupture de stock</p>
{{ form_row(form.sell_out_of_stock) }}
<button class="btn btn-primary">Enregistrer</button>
{{ form_end(form) }}
