<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Login</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="{{ asset('admin/img/favicon.ico') }}" type="image/x-icon"/>

    <!-- Fonts and icons -->
    {% block fonts %}
    <script src="{{ asset('admin/js/plugin/webfont/webfont.min.js') }}"></script>
    <script>
        WebFont.load({
            google: {"families":["Montserrat:100,200,300,400,500,600,700,800,900"]},
            custom: {"families":["Flaticon", "LineAwesome"], urls: ['{{ asset('admin/css/fonts.css') }}']},
            active: function() {
                sessionStorage.fonts = true;
            }
        });
    </script>
    {% endblock %}

    <!-- CSS Files -->
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('admin/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/css/ready.min.css') }}">
    {% endblock %}
</head>
<body class="login">
    <div class="wrapper wrapper-login">
        <div class="container container-login animated fadeIn">
            <h3 class="text-center">Connexion</h3>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {% block body %}
            <div class="login-form">
                <form method="post">
                    {% if app.user %}
                        <div class="mb-3">
                            Vous êtes déjà connecté avec {{ app.user.username }}, <a href="{{ path('app_admin_logout') }}">Logout</a>
                        </div>
                    {% endif %}
                    <div class="form-group form-floating-label">
                        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control input-border-bottom" required autofocus>
                        <label for="inputUsername" class="placeholder">Identifiant</label>            
                    </div>
                    <div class="form-group form-floating-label">
                        <input type="password" name="password" id="inputPassword" class="form-control input-border-bottom" required>
                        <label for="inputPassword" class="placeholder">Mot de passe</label>
                        <div class="show-password">
                            <i class="flaticon-interface"></i>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html
                    #}
                    <div class="row form-sub m-0">
                        <div class="col col-md-6">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="remember_me" name="_remember_me">
                                <label class="custom-control-label" for="remember_me">Se souvenir de moi</label>
                            </div>
                        </div>
                        <div class="col col-md-6 login-forget">
                            <a href="#" class="link">Mot de passe oublié ?</a>
                        </div>
                    </div>
                    <div class="form-action">
                        <button class="btn btn-primary btn-rounded btn-login" type="submit">Connexion</button>
                    </div>
                    <div class="text-center"><a href="{{ path('home') }}">Retour sur {{ appService.getParams.title }}</a></div>
                </form>
            </div>
            {% endblock %}
        </div>
    </div>
    {% block javascripts %}
    <script src="{{ asset('admin/js/core/jquery.3.2.1.min.js') }}"></script>
    <script src="{{ asset('admin/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('admin/js/core/popper.min.js') }}"></script>
    <script src="{{ asset('admin/js/core/bootstrap.min.js') }}"></script>
    <script src="{{ asset('admin/js/ready.js') }}"></script>
    {% endblock %}
</body>

