{{ form_start(form) }}
    {{ form_row(form.address_title) }}
    {{ form_row(form.address) }}
    <div class="row">
        <div class="col-auto">{{ form_row(form.zipcode) }}</div>
        <div class="col-auto">{{ form_row(form.town) }}</div>
    </div>
    <div class="row">
        <div class="col-auto">{{ form_row(form.phone) }}</div>
        <div class="col-auto">{{ form_row(form.mobile) }}</div>
        <div class="col-4">{{ form_row(form.email) }}</div>
    </div>
    <div class="row">
        <div class="col-4">{{ form_row(form.opening_time) }}</div>
        <div class="col-4">{{ form_row(form.map) }}</div>
    </div>
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
