{% extends 'admin/base.html.twig' %}

{% block title %}Gestion {% if role == 'page' %}des pages{% else %}des articles{% endif %}{% endblock %}
{% form_theme form _self %}

{% block body %}
<div class="page-header">
    <h4 class="page-title">Gestion {% if role == 'page' %}des pages{% else %}des articles{% endif %}</h4>
    <ul class="breadcrumbs">
        <li class="nav-home">
            <a href="{{ path('dashboard') }}">
                <i class="flaticon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a href="{{ path('posts_index', {'role' : role})}}">{% if role == 'page' %}Pages{% else %}Articles{% endif %}</a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            Ajouter {% if role == 'page' %}une page{% else %}un article{% endif %}
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Ajouter {% if role == 'page' %}une page{% else %}un article{% endif %}</h4>
            </div>
            <div class="card-body">
                {{ include('admin/posts/_form.html.twig') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block _posts_categories_entry_widget %}
    <div class="form-check p-0">
        <label class="form-check-label" {% for key, styles in attr %} {% for k, style in styles %} {{ key }}="{{ k }}:{{ style }}" {% endfor %} {% endfor %}>
            <input class="form-check-input" type="checkbox" name="{{full_name}}" id="{{id}}" value="{{value}}">
            <span class="form-check-sign">{{ label }}</span>
        </label>
    </div>
{% endblock %}
{% block _posts_date_publish_date_widget %}
    <div class="input-group" style="width: 200px">{{ form_widget(form) }}
        <div class="input-group-append">
            <span class="input-group-text">
                <i class="la la-calendar-o"></i>
            </span>
        </div>
    </div>
{% endblock %}
{% block _posts_date_publish_time_widget %}
    <div class="input-group pl-2" style="width: 150px">{{ form_widget(form) }}
        <div class="input-group-append">
            <span class="input-group-text">
                <i class="la la-clock-o"></i>
            </span>
        </div>
    </div>
{% endblock %}
{% block _posts_date_expire_date_widget %}
    <div class="input-group" style="width: 200px">{{ form_widget(form) }}
        <div class="input-group-append">
            <span class="input-group-text">
                <i class="la la-calendar-o"></i>
            </span>
        </div>
    </div>
{% endblock %}
{% block _posts_date_expire_time_widget %}
    <div class="input-group pl-2" style="width: 150px">{{ form_widget(form) }}
        <div class="input-group-append">
            <span class="input-group-text">
                <i class="la la-clock-o"></i>
            </span>
        </div>
    </div>
{% endblock %}
{% block _posts_date_events_widget %}
    <div class="input-group" style="width: 200px">{{ form_widget(form) }}
        <div class="input-group-append">
            <span class="input-group-text">
                <i class="la la-calendar-o"></i>
            </span>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- Moment JS -->
    <script src="{{ asset('admin/js/plugin/moment/moment.min.js') }}"></script>
        <!-- DateTimePicker -->
    <script src="{{ asset('admin/js/plugin/datepicker/bootstrap-datetimepicker.min.js') }}"></script>
    <!-- Bootstrap Toggle -->
    <script src="{{ asset('admin/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js') }}"></script>
    <!-- CK Editor -->
    <script src="{{ asset('admin/ckeditor/ckeditor.js') }}"></script>
    <!-- Multilanguage -->
    <script src="{{ asset('admin/js/multilanguage.js') }}"></script>

    <script >
        //moment.locale('fr-ca'); 
        //$.datepicker.setDefaults($.datepicker.regional["fr"]);
        //jQuery.datetimepicker.setLocale('fr');
        $('#posts_date_publish_time').datetimepicker({
            format: 'H:mm',
            //format: 'DD/MM/YYYY',
            locale: 'fr'
        });
        $('#posts_date_expire_time').datetimepicker({
            format: 'H:mm',
            //format: 'DD/MM/YYYY',
            locale: 'fr'
        });
    </script>

{% endblock %}

